agent-32={{ yourkit_base_dir }}/{{ yourkit_name }}/bin/{{ yourkit_arch_32 }}/{{ yourkit_agent }}
agent-64={{ yourkit_base_dir }}/{{ yourkit_name }}/bin/{{ yourkit_arch_64 }}/{{ yourkit_agent }}
profiler-dir={{ yourkit_base_dir }}/{{ yourkit_name }
should-ask-for-bitness=true
